---
- name: Onboard new organizations
  hosts:
    - "{{ aap | default('localhost') }}"
  connection: local
  run_once: true
  gather_facts: false

  roles:
    - role: onboard
      vars:
        onboard_tenant: tenant3
        onboard_aap_hostname: "aap.apps.hub.aws.tntinfra.net"
        onboard_validate_certs: false
        onboard_admin_token: "<insert token var that does not get overwritten...>"
