---
- name: Onboard new organizations
  hosts:
    - "{{ aap | default('localhost') }}"
  connection: local
  run_once: true
  gather_facts: false

  roles:
    - role: infra.aap_configuration.dispatch
      vars:
        aap_token: "{{ aap_admin_token }}"
