---
- name: Check if example project repo exists for tenant {{ onboard_tenant }}
  ansible.builtin.uri:
    url: "https://api.github.com/repos/tosmi-ansible/{{ onboard_tenant }}-example-project"
    method: GET
    body_format: json
    status_code:
      - 200 # found
      - 404 # Resource not found
    headers:
      Authorization: Bearer {{ github_admin_token }}
      X-GitHub-Api-Version: "2022-11-28"
  register: onboard_example_project_status
  tags:
    - github

- name: Fork the template example repo for tenant {{ onboard_tenant }}
  when:
    - onboard_example_project_status.status == 404
  ansible.builtin.uri:
    url: https://api.github.com/repos/tosmi-ansible/template-example-project/forks
    method: POST
    body_format: json
    status_code:
      - 202
    headers:
      Authorization: Bearer {{ github_admin_token }}
      X-GitHub-Api-Version: "2022-11-28"
    body:
      organization: tosmi-ansible
      name: "{{ onboard_tenant }}-example-project"
      default_branch_only: true
  tags:
    - github

# the example project itself in AAP is create by the tenant org-config repo.
# so do not create anything except the for of the template example project.
