---
- name: Starting onboarding
  ansible.builtin.debug:
    msg:
      - "Starting onboarding for tenant {{ onboard_tenant }}"

- name: Create username fact for tenant {{ onboard_tenant }}
  ansible.builtin.set_fact:
    onboard_tenant_admin_user: "{{ onboard_tenant }}-admin"
    onboard_name: "00-{{ onboard_tenant }}-org-config"

# this re-uses the username from above
# XXX: we use the username as the seed for password generation to ensure
# that the password remains consistent across runs for the same tenant
- name: Create password fact for user {{ onboard_admin_user }}
  ansible.builtin.set_fact:
    onboard_tenant_admin_password: "{{ lookup('ansible.builtin.password', '/dev/null', seed=onboard_tenant_admin_user) }}"

- name: Print username and password for user {{ onboard_admin_user }}
  ansible.builtin.debug:
    msg:
      - "onboard_tenant_admin_user: {{ onboard_tenant_admin_user }}"
      - "onboard_tenant_admin_password: {{ onboard_tenant_admin_password }}"

- name: Create organization for tenant {{ onboard_tenant }}
  ansible.platform.organization:
    name: "{{ onboard_tenant }}"
    aap_hostname: "{{ onboard_aap_hostname }}"
    aap_token: "{{ onboard_admin_token }}"
    validate_certs: "{{ onboard_validate_certs }}"
  tags:
    - organization

- name: Add hub credentials to organization for tenant {{ onboard_tenant }}
  ansible.controller.organization:
    name: "{{ onboard_tenant }}"
    galaxy_credentials:
      - Ansible Galaxy
      - Private Hub Token
      - Private Hub Token Certified
      - Private Hub Token Validated
    aap_hostname: "{{ onboard_aap_hostname }}"
    aap_token: "{{ onboard_admin_token }}"
    validate_certs: "{{ onboard_validate_certs }}"
  tags:
    - organization

- name: Create a local user for organization "{{ onboard_tenant }}"
  ansible.platform.user:
    username: "{{ onboard_tenant_admin_user }}"
    password: "{{ onboard_tenant_admin_password }}"
    state: present
    aap_hostname: "{{ onboard_aap_hostname }}"
    aap_token: "{{ onboard_admin_token }}"
    validate_certs: "{{ onboard_validate_certs }}"
  tags:
    - organization

- name: Print aap_token for debugging
  ansible.builtin.debug:
    var: onboard_admin_token
  tags:
    - debug


- name: Create an authentication token for local user "{{ onboard_tenant_admin_user }}"
  ansible.platform.token:
    description: "{{ onboard_name }}"
    scope: write
    aap_hostname: "{{ onboard_aap_hostname }}"
    aap_username: "{{ onboard_tenant_admin_user }}"
    aap_password: "{{ onboard_tenant_admin_password }}"
    validate_certs: "{{ onboard_validate_certs }}"

- name: Print aap_token for debugging
  ansible.builtin.debug:
    var: onboard_admin_token
  tags:
    - debug

- fail:

- name: Assign local user to organization "{{ onboard_tenant }}"
  ansible.platform.role_user_assignment:
    role_definition: Organization Admin
    user: "{{ onboard_tenant_admin_user }}"
    object_ids:
      - "{{ onboard_tenant }}"
    aap_hostname: "{{ onboard_aap_hostname }}"
    aap_token: "{{ onboard_admin_token }}"
    validate_certs: "{{ onboard_validate_certs }}"
  tags:
    - organization

- name: Check if org config repo exists
  ansible.builtin.uri:
    url: "https://api.github.com/repos/tosmi-ansible/{{ onboard_tenant }}-org-config"
    method: GET
    body_format: json
    status_code:
      - 200 # found
      - 404 # Resource not found
    headers:
      Authorization: Bearer {{ github_admin_token }}
      X-GitHub-Api-Version: "2022-11-28"
    body:
      organization: tosmi-ansible
      name: tenant3-org-config
      default_branch_only: true
  register: onboard_repo_status
  tags:
    - github

- name: Print the repo status
  ansible.builtin.debug:
    var: onboard_repo_status
    verbosity: 2
  tags:
    - github

# curl -L \
#   -X POST \
#   -H "Accept: application/vnd.github+json" \
#   -H "Authorization: Bearer <YOUR-TOKEN>" \
#   -H "X-GitHub-Api-Version: 2022-11-28" \
#   https://api.github.com/repos/OWNER/REPO/forks \
#   -d '{"organization":"octocat","name":"Hello-World","default_branch_only":true}'
- name: Fork the template org config repo
  when:
    - onboard_repo_status.status == 404
  ansible.builtin.uri:
    url: https://api.github.com/repos/tosmi-ansible/template-org-config/forks
    method: POST
    body_format: json
    status_code:
      - 202
    headers:
      Authorization: Bearer {{ github_admin_token }}
      X-GitHub-Api-Version: "2022-11-28"
    body:
      organization: tosmi-ansible
      name: tenant3-org-config
      default_branch_only: true
  tags:
    - github

- name: Create a SCM credential to access repositories
  ansible.controller.credential:
    name: "00-Github-{{ onboard_tenant }}"
    organization: "{{ onboard_tenant }}"
    credential_type: 2
    inputs:
      password: "{{ github_read_token }}" # Global read-only token for github, not tenant specific
      username: oauth
    aap_hostname: "{{ onboard_aap_hostname }}"
    aap_token: "{{ onboard_admin_token }}"
    validate_certs: "{{ onboard_validate_certs }}"
  tags:
    - org_config

- name: Add org config repo to AAP for tenant {{ onboard_tenant }}
  ansible.controller.project:
    name: "{{ onboard_name }}"
    organization: "{{ onboard_tenant }}"
    scm_type: git
    scm_url: "https://github.com/tosmi-ansible/{{ onboard_tenant }}-org-config.git"
    scm_credential: "00-Github-{{ onboard_tenant }}"
    aap_hostname: "{{ onboard_aap_hostname }}"
    aap_token: "{{ onboard_admin_token }}"
    validate_certs: "{{ onboard_validate_certs }}"
  tags:
    - org_config

- name: Create inventory for tenant {{ onboard_tenant }}
  ansible.controller.inventory:
    name: "{{ onboard_name }}"
    organization: "{{ onboard_tenant }}"
    aap_hostname: "{{ onboard_aap_hostname }}"
    aap_token: "{{ onboard_admin_token }}"
    validate_certs: "{{ onboard_validate_certs }}"
  tags:
    - org_config

- name: Create org-config job template for tenant {{ onboard_tenant }}
  ansible.controller.job_template:
    name: "{{ onboard_name }}"
    organization: "{{ onboard_tenant }}"
    inventory: "{{ onboard_name }}"
    project: "{{ onboard_name }}"
    playbook: "playbooks/org-config.yaml"
    aap_hostname: "{{ onboard_aap_hostname }}"
    aap_token: "{{ onboard_admin_token }}"
    validate_certs: "{{ onboard_validate_certs }}"
    webhook_service: github
  register: onboard_org_config_job_template
  no_log: false
  tags:
    - org_config
    - org_config_job_template

- name: Print org config job template status
  ansible.builtin.debug:
    var: onboard_org_config_job_template
  tags:
    - org_config_job_template

- name: Check if webhook exists
  ansible.builtin.uri:
    url: "https://api.github.com/repos/tosmi-ansible/{{ onboard_tenant }}-org-config/hooks"
    method: GET
    body_format: json
    status_code:
      - 200 # found
      - 404 # not found
    headers:
      Accept: application/vnd.github+json
      Authorization: Bearer {{ github_admin_token }}
      X-GitHub-Api-Version: "2022-11-28"
  register: onboard_webhook_status
  tags:
    - onboard_webhook

- name: Print the webhook status
  ansible.builtin.debug:
    var: onboard_webhook_status.json
  tags:
    - onboard_webhook

- name: Print aap_token for debugging
  ansible.builtin.debug:
    var: onboard_admin_token
  tags:
    - debug

- name: Get the job template details for the org config job template
  ansible.builtin.set_fact:
    onboard_job_template_details: "{{ lookup('ansible.controller.controller_api',
      'job_templates',
      query_params={'name': onboard_name},
      host=onboard_aap_hostname,
      oauth_token=onboard_admin_token,
      verify_ssl=onboard_validate_certs)  }}"
  tags:
    - org_config_job_template

- name: Print the job template details
  ansible.builtin.debug:
    var: onboard_job_template_details
  tags:
    - org_config_job_template

- name: Get the webhook key from the related field
  ansible.builtin.set_fact:
    onboard_webhook_key: "{{ lookup('ansible.controller.controller_api',
      onboard_job_template_details.related.webhook_key,
      host=onboard_aap_hostname,
      oauth_token=onboard_admin_token,
      verify_ssl=onboard_validate_certs) }}"
  when: onboard_job_template_details.related is defined

- name: Print the webhook key
  ansible.builtin.debug:
    msg: "The webhook key for '{{ onboard_name }}' is: {{ onboard_webhook_key.webhook_key }}"
  when:
    - onboard_webhook_key is defined
    - onboard_webhook_key.webhook_key is defined

- name: Create a webhook to trigger the org config template on push
  when:
    - onboard_webhook_status.status == 200
    - onboard_webhook_status.json | length == 0
    - onboard_webhook_key is defined
    - onboard_webhook_key.webhook_key is defined
  ansible.builtin.uri:
    url: "https://api.github.com/repos/tosmi-ansible/{{ onboard_tenant }}-org-config/hooks"
    method: POST
    body_format: json
    status_code:
      - 201 # created
    headers:
      Authorization: Bearer {{ github_admin_token }}
      X-GitHub-Api-Version: "2022-11-28"
    body:
      active: true
      events:
        - push
      config:
        url: "https://{{ onboard_aap_hostname }}{{ onboard_job_template_details.url }}github/"
        content_type: json
        secret: "{{ onboard_webhook_key.webhook_key }}"
        insecure_ssl: "1" # 1 to disable ssl verification, 0 to enable ssl verification
      organization: tosmi-ansible
  register: onboard_repo_status
  tags:
    - onboard_webhook
