---
- name: Starting onboarding for tenant {{ onboard_tenant }}
  ansible.builtin.debug:
    msg:
      - "Starting onboarding for tenant {{ onboard_tenant }}"

- name: Create username fact for tenant {{ onboard_tenant }}
  ansible.builtin.set_fact:
    onboard_tenant_admin_user: "{{ onboard_tenant }}-admin"
    onboard_name: "00-{{ onboard_tenant }}-org-config"

# this re-uses the username from above
# XXX: we use the username as the seed for password generation to ensure
# that the password remains consistent across runs for the same tenant
- name: Create password fact for user {{ onboard_tenant_admin_user }}
  ansible.builtin.set_fact:
    # we could generate a random password
    #
    # onboard_tenant_admin_password: "{{ lookup('ansible.builtin.password', '/dev/null', seed=onboard_tenant_admin_user) }}"

    # but for our lab env we use a static password for simplicity, which is stored in vault
    onboard_tenant_admin_password: "{{ aap_tenant_admin_password }}"

- name: Print username and password for user {{ onboard_tenant_admin_user }}
  ansible.builtin.debug:
    msg:
      - "onboard_tenant_admin_user: {{ onboard_tenant_admin_user }}"
      - "onboard_tenant_admin_password: {{ onboard_tenant_admin_password }}"

- name: Create organization for tenant {{ onboard_tenant }}
  ansible.platform.organization:
    name: "{{ onboard_tenant }}"
    aap_hostname: "{{ onboard_aap_hostname }}"
    aap_token: "{{ onboard_admin_token }}"
    validate_certs: "{{ onboard_validate_certs }}"
  tags:
    - organization

- name: Include tasks to set OPA policy for organization {{ onboard_tenant }}
  ansible.builtin.include_tasks:
    file: opa_policy.yaml

- name: Add hub credentials to organization for tenant {{ onboard_tenant }}
  ansible.controller.organization:
    name: "{{ onboard_tenant }}"
    galaxy_credentials:
      - Ansible Galaxy
      - Private Hub Token
      - Private Hub Token Certified
      - Private Hub Token Validated
    aap_hostname: "{{ onboard_aap_hostname }}"
    aap_token: "{{ onboard_admin_token }}"
    validate_certs: "{{ onboard_validate_certs }}"
  tags:
    - organization

- name: Create a local user for organization {{ onboard_tenant }}
  ansible.platform.user:
    username: "{{ onboard_tenant_admin_user }}"
    password: "{{ onboard_tenant_admin_password }}"
    state: present
    aap_hostname: "{{ onboard_aap_hostname }}"
    aap_token: "{{ onboard_admin_token }}"
    validate_certs: "{{ onboard_validate_certs }}"
  tags:
    - organization

# This overwrites the ansible_fact aap_token
#
- name: Create an authentication token for local user "{{ onboard_tenant_admin_user }}"
  ansible.platform.token:
    description: "{{ onboard_name }}"
    scope: write
    aap_hostname: "{{ onboard_aap_hostname }}"
    aap_username: "{{ onboard_tenant_admin_user }}"
    aap_password: "{{ onboard_tenant_admin_password }}"
    validate_certs: "{{ onboard_validate_certs }}"

- name: Create a credential to access the AAP API for {{ onboard_tenant }}
  ansible.controller.credential:
    credential_type: AAP API Token
    name: "00-{{ onboard_tenant }}-api-token"
    description: AAP API token for tenant {{ onboard_tenant }}
    inputs:
      aap_api_token: "{{ aap_token.token }}"
    organization: "{{ onboard_tenant }}"
    aap_hostname: "{{ onboard_aap_hostname }}"
    aap_token: "{{ onboard_admin_token }}"
    validate_certs: "{{ onboard_validate_certs }}"

- name: Create a credential to access the K8s to create development environments for {{ onboard_tenant }}
  ansible.controller.credential:
    credential_type: AAP API Token
    name: "00-{{ onboard_tenant }}-k8s-token"
    description: K8s token for creating development environments for tenant {{ onboard_tenant }}
    inputs:
      aap_api_token: "{{ k8s_api_key }}"
    organization: "{{ onboard_tenant }}"
    aap_hostname: "{{ onboard_aap_hostname }}"
    aap_token: "{{ onboard_admin_token }}"
    validate_certs: "{{ onboard_validate_certs }}"

- name: Create a onboarding vault credential for {{ onboard_tenant }}
  ansible.controller.credential:
    credential_type: Vault
    name: "00-{{ onboard_tenant }}-onboarding-vault"
    description: Vault password id onboarding {{ onboard_tenant }}
    inputs:
      vault_id: onboarding
      vault_password: "{{ onboarding_vault_password }}"
    organization: "{{ onboard_tenant }}"
    aap_hostname: "{{ onboard_aap_hostname }}"
    aap_token: "{{ onboard_admin_token }}"
    validate_certs: "{{ onboard_validate_certs }}"

- name: Assign local user to organization {{ onboard_tenant }}
  ansible.platform.role_user_assignment:
    role_definition: Organization Admin
    user: "{{ onboard_tenant_admin_user }}"
    object_ids:
      - "{{ onboard_tenant }}"
    aap_hostname: "{{ onboard_aap_hostname }}"
    aap_token: "{{ onboard_admin_token }}"
    validate_certs: "{{ onboard_validate_certs }}"
  tags:
    - organization

- name: Check if org config repo exists for tenant {{ onboard_tenant }}
  ansible.builtin.uri:
    url: "https://api.github.com/repos/tosmi-ansible/{{ onboard_tenant }}-org-config"
    method: GET
    body_format: json
    status_code:
      - 200 # found
      - 404 # Resource not found
    headers:
      Authorization: Bearer {{ github_admin_token }}
      X-GitHub-Api-Version: "2022-11-28"
    body:
      organization: tosmi-ansible
      name: tenant3-org-config
      default_branch_only: true
  register: onboard_repo_status
  tags:
    - github

- name: Print the repo status for tenant {{ onboard_tenant }}
  ansible.builtin.debug:
    var: onboard_repo_status
    verbosity: 2
  tags:
    - github

# curl -L \
#   -X POST \
#   -H "Accept: application/vnd.github+json" \
#   -H "Authorization: Bearer <YOUR-TOKEN>" \
#   -H "X-GitHub-Api-Version: 2022-11-28" \
#   https://api.github.com/repos/OWNER/REPO/forks \
#   -d '{"organization":"octocat","name":"Hello-World","default_branch_only":true}'
- name: Fork the template org-config repo for tenant {{ onboard_tenant }}
  when:
    - onboard_repo_status.status == 404
  ansible.builtin.uri:
    url: https://api.github.com/repos/tosmi-ansible/template-org-config/forks
    method: POST
    body_format: json
    status_code:
      - 202
    headers:
      Authorization: Bearer {{ github_admin_token }}
      X-GitHub-Api-Version: "2022-11-28"
    body:
      organization: tosmi-ansible
      name: "{{ onboard_tenant }}-org-config"
      default_branch_only: true
  tags:
    - github

- name: Fork the template example repo for tenant {{ onboard_tenant }}
  when:
    - onboard_repo_status.status == 404
  ansible.builtin.uri:
    url: https://api.github.com/repos/tosmi-ansible/template-example-project/forks
    method: POST
    body_format: json
    status_code:
      - 202
    headers:
      Authorization: Bearer {{ github_admin_token }}
      X-GitHub-Api-Version: "2022-11-28"
    body:
      organization: tosmi-ansible
      name: "{{ onboard_tenant }}-example-project"
      default_branch_only: true
  tags:
    - github

- name: Create a SCM credential to access repositories for tenant {{ onboard_tenant }}
  ansible.controller.credential:
    name: "00-{{ onboard_tenant }}-github"
    organization: "{{ onboard_tenant }}"
    credential_type: 2
    inputs:
      password: "{{ github_read_token }}" # Global read-only token for github, not tenant specific
      username: oauth
    aap_hostname: "{{ onboard_aap_hostname }}"
    aap_token: "{{ onboard_admin_token }}"
    validate_certs: "{{ onboard_validate_certs }}"
  tags:
    - org_config

- name: Add org config repo to AAP for tenant {{ onboard_tenant }}
  ansible.controller.project:
    name: "{{ onboard_name }}"
    organization: "{{ onboard_tenant }}"
    scm_type: git
    scm_url: "https://github.com/tosmi-ansible/{{ onboard_tenant }}-org-config.git"
    scm_credential: "00-{{ onboard_tenant }}-github"
    aap_hostname: "{{ onboard_aap_hostname }}"
    aap_token: "{{ onboard_admin_token }}"
    validate_certs: "{{ onboard_validate_certs }}"
    scm_update_on_launch: true
  tags:
    - org_config

- name: Create inventory for tenant {{ onboard_tenant }}
  ansible.controller.inventory:
    name: "{{ onboard_name }}"
    organization: "{{ onboard_tenant }}"
    aap_hostname: "{{ onboard_aap_hostname }}"
    aap_token: "{{ onboard_admin_token }}"
    validate_certs: "{{ onboard_validate_certs }}"
  tags:
    - org_config
    - onboard_inventory

- name: Create inventory source for tenant {{ onboard_tenant }}
  ansible.controller.inventory_source:
    name: "{{ onboard_name }}"
    source: scm
    source_project: "{{ onboard_name }}"
    source_path: inventory/aap.yaml
    inventory: "{{ onboard_name }}"
    organization: "{{ onboard_tenant }}"
    overwrite: true
    overwrite_vars: true
    update_on_launch: true
    update_cache_timeout: 0
    aap_hostname: "{{ onboard_aap_hostname }}"
    aap_token: "{{ onboard_admin_token }}"
    validate_certs: "{{ onboard_validate_certs }}"
  tags:
    - org_config
    - onboard_inventory

- name: Create org-config job template for tenant {{ onboard_tenant }}
  ansible.controller.job_template:
    name: "{{ onboard_name }}"
    organization: "{{ onboard_tenant }}"
    inventory: "{{ onboard_name }}"
    project: "{{ onboard_name }}"
    playbook: "playbooks/org-config.yaml"
    webhook_service: github
    credentials:
      - "00-{{ onboard_tenant }}-api-token"
      - "00-{{ onboard_tenant }}-onboarding-vault"
    extra_vars:
      tenant_name: "{{ onboard_tenant }}"
      github_credential: "00-{{ onboard_tenant }}-github"
    aap_hostname: "{{ onboard_aap_hostname }}"
    aap_token: "{{ onboard_admin_token }}"
    validate_certs: "{{ onboard_validate_certs }}"
  register: onboard_org_config_job_template
  no_log: false
  tags:
    - org_config
    - org_config_job_template

- name: Print org config job template status for tenant {{ onboard_tenant }}
  ansible.builtin.debug:
    var: onboard_org_config_job_template
  tags:
    - org_config_job_template

- name: Check if webhook exists in the org-config repository for tenant {{ onboard_tenant }}
  ansible.builtin.uri:
    url: "https://api.github.com/repos/tosmi-ansible/{{ onboard_tenant }}-org-config/hooks"
    method: GET
    body_format: json
    status_code:
      - 200 # found
      - 404 # not found
    headers:
      Accept: application/vnd.github+json
      Authorization: Bearer {{ github_admin_token }}
      X-GitHub-Api-Version: "2022-11-28"
  register: onboard_webhook_status
  tags:
    - onboard_webhook

- name: Print the webhook status for tenant {{ onboard_tenant }}
  ansible.builtin.debug:
    var: onboard_webhook_status.json
  tags:
    - onboard_webhook

- name: Print aap_token for debugging for tenant {{ onboard_tenant }}
  ansible.builtin.debug:
    var: onboard_admin_token
  tags:
    - debug

- name: Get the job template details for the org config job template for tenant {{ onboard_tenant }}
  ansible.builtin.set_fact:
    onboard_job_template_details: "{{ lookup('ansible.controller.controller_api',
      'job_templates',
      query_params={'name': onboard_name},
      host=onboard_aap_hostname,
      oauth_token=onboard_admin_token,
      verify_ssl=onboard_validate_certs)  }}"
  tags:
    - org_config_job_template

- name: Print the job template details for tenant {{ onboard_tenant }}
  ansible.builtin.debug:
    var: onboard_job_template_details
  tags:
    - org_config_job_template

- name: Get the webhook key from the org-config job template for tenant {{ onboard_tenant }}
  ansible.builtin.set_fact:
    onboard_webhook_key: "{{ lookup('ansible.controller.controller_api',
      onboard_job_template_details.related.webhook_key,
      host=onboard_aap_hostname,
      oauth_token=onboard_admin_token,
      verify_ssl=onboard_validate_certs) }}"
  when: onboard_job_template_details.related is defined

- name: Print the webhook key for the org-config job template for tenant {{ onboard_tenant }}
  ansible.builtin.debug:
    msg: "The webhook key for '{{ onboard_name }}' is: {{ onboard_webhook_key.webhook_key }}"
  when:
    - onboard_webhook_key is defined
    - onboard_webhook_key.webhook_key is defined

- name: Create a webhook to trigger the org-config template on push for tenant {{ onboard_tenant }}
  when:
    - onboard_webhook_status.status == 200
    - onboard_webhook_status.json | length == 0
    - onboard_webhook_key is defined
    - onboard_webhook_key.webhook_key is defined
  ansible.builtin.uri:
    url: "https://api.github.com/repos/tosmi-ansible/{{ onboard_tenant }}-org-config/hooks"
    method: POST
    body_format: json
    status_code:
      - 201 # created
    headers:
      Authorization: Bearer {{ github_admin_token }}
      X-GitHub-Api-Version: "2022-11-28"
    body:
      active: true
      events:
        - push
      config:
        url: "https://{{ onboard_aap_hostname }}{{ onboard_job_template_details.url }}github/"
        content_type: json
        secret: "{{ onboard_webhook_key.webhook_key }}"
        insecure_ssl: "1" # 1 to disable ssl verification, 0 to enable ssl verification
      organization: tosmi-ansible
  register: onboard_repo_status
  tags:
    - onboard_webhook

- name: Include example project tasks for tenant {{ onboard_tenant }}
  ansible.builtin.include_tasks: example_project.yaml
